<div class="card" style="background-image: url('https://res.cloudinary.com/dfcud6por/image/upload/v1543315786/expo-buddy/header_ifa.png');">
  <div class="card-content">
    <div class="card-text">
      <p>6. - 11. Sept., 2019</p>
      <h1>IFA</h1>
    </div>
    <div class="card-text small-margin-top">
      <p>1805 exhibitors | 253 000 visitors | 159 000 m2</p>
    </div>
  </div>

  <a class="card-link" href="#" ></a>
</div>
