<div class="card" id= 'email-card'>
  <div class="card-email-text">
    <p>Didn’t find the tradeshow you were looking for? We are momentarily focused on consumer electronics, but constantly adding new tradeshows - let us know your favorites:
    </p>
    <p id='coorporate-email'>
      expo.buddy@gmail.com
    </p>
  </div>
</div>
