<div class="exhibitor-tabs" id="bottom">

  <div class="left">
      <i class="fas fa-images" style="font-size: 28px; color: $primary-dark;"></i>
  </div>
  <div class="right">
      <i class="fas fa-info-circle" style="font-size: 28px; color: $primary-dark;"></i>
  </div>

</div>
