<div class="navbar">
  <div class="navbar-icons">
    <i class="fas fa-arrow-left"></i>
  </div>
  <div id="empty-div"></div>
  <div class="navbar-icons">
    <i class="fas fa-star"></i>
    <i class="far fa-check-circle"></i>
  </div>

</div>
