<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <img class="card-user" src=<%= @exhibitor.icon %>>
    <%= exhibitor.name %>
  </div>
</div>
