<div class="exhibitor-tabs" id="bottom">

  <div class="left exhibitor-tab <%= 'exhibitor-select' if @favorite %>">
      <i <i class="fas fa-edit" style="font-size: 28px; color: $primary-dark;"></i>
       <p>NOTES</p>
  <div class="right exhibitor-tab <%= 'exhibitor-select' unless @favorite %>">
      <i class="fas fa-info-circle " style="font-size: 28px; color: $primary-dark;"></i>
      <p>ABOUT</p>
  </div>
</div>


