<div class="expo-tabs bottom">

  <div class="left expo-tab">
    <div class= "tab-title">
      <i class="fas fa-images"></i>
    </div>
  </div>

  <div class="right expo-tab">
    <div class="tab-title">
      <i class="fas fa-info-circle"></i>
    </div>
  </div>

</div>
