<div class="expo-header" style="background-image: linear-gradient(174deg, rgba(150,150,150,0.7) 60%, rgba(80, 227, 194, 0.8) 60%),url('<%= cl_image_path @expo.cover_pic %>')">

  <%= render 'components/exhibitor_navbar' %>

  <div class ='exhibitor-container'>
    <div class="icon-square" style="background-image: url('<%= exhibitor.icon.blank? ? cl_image_path('expo-buddy/placeholders/exhibitor-placeholder.jpg') : cl_image_path(exhibitor.icon) %>')">
    </div>
    <h1> <%= @exhibitor.name %> </h1>
  </div>
</div>
