<div class="exhibitor-tabs" id="bottom">

  <div class="left">

    <div class= "tab-title">
      <i class="fas fa-images"></i>
    </div>

  </div>
  <div class="right">

    <div class="tab-title">
      <i class="fas fa-info-circle"></i>
    </div>

  </div>

</div>
