<div class= 'exhibitor-list-item'>

  <div class="exhibitor-icon" style="background: url('<%= exhibitor.icon.blank? ? image_tag('placeholder.jpg') : cl_image_path(exhibitor.icon) %>')">
  </div>
  <div class="exhibitor-item">
    <div class="exhibitor-info">
      <h2><%= exhibitor.name %></h2>
      <p><%= exhibitor.location %></p>
    </div>

  </div>
    <div class="favorite-cont">
      <%= render 'components/favorite', expo: @expo, exhibitor: exhibitor %>
    </div>

</div>


