<div class="exhibitor-tabs" id="bottom">

  <div class="left exhibitor-tab <%= 'exhibitor-select' if @favorite %>">
      <i class="fas fa-sticky-note"></i>
       <p class="remove-margin small-padding-left">NOTES</p>
  </div>
  <div class="right exhibitor-tab <%= 'exhibitor-select' unless @favorite %>">
      <i class="fas fa-info-circle"></i>
      <p class="remove-margin small-padding-left">ABOUT</p>
  </div>
</div>


