<div class="navbar">
  <div class="navbar-icons">
    <p>Hello</p>
  </div>
  <div id="empty-div"></div>
  <div class="navbar-icons">
    <i class="fas fa-star"></i><p>Hello again</p>
  </div>

</div>
