<div class="navbar">
  <div class="navbar-icons">
    <p>Burger</p>
  </div>
  <div id="empty-div"></div>
  <div class="navbar-icons">
    <div class="bookmark-container icon-shadow">
      <%= render 'components/bookmark', expo: expo %>
    </div>
  </div>

</div>
