<div class="expo-tabs">

    <%= link_to favorites_tab_path, remote: true do%>
      <div class="left expo-tab">
        <div class= "favorite-star">
          <i class="fas fa-star"></i>
        </div>
        <div class= "tab-title">
          <p>FAVORITES</p>
        </div>
      </div>
    <% end %>

    <div class="right expo-tab toggle-border">

      <div class="exhibitor-mag-glass">
        <i class="fas fa-search"></i>
      </div>
      <div class="tab-title">
        <p>EXHIBITORS</p>
      </div>

    </div>

</div>



