<div class="expo-tabs">

  <div class="left expo-tab">

    <div class= "favorite-star">
      <i class="fas fa-star"></i>
    </div>
    <div class= "tab-title">
      <h1>FAVORITES</h1>
    </div>

  </div>
  <div class="right expo-tab">

    <div class="exhibitor-mag-glass">
      <i class="fas fa-search"></i>
    </div>
    <div class="tab-title">
      <h1>EXHIBITORS</h1>
    </div>

  </div>

</div>
