<div class= 'exhibitor-list-item'>

  <div class="no-favorites">
    <p>Go to:</p>
    <div class="destination-tab-div">
      <i class="fas fa-search"></i>
      <p>EXHIBITORS</p>
    </div>
    <p>to add Favorites!</p>
  </div>

</div>
