<div class= 'favorites_tab_error'>

  <div class="exhibitor-item">
    <div class="exhibitor-info" id= 'sign_in_button'>
      <h2>Please Sign in to add and view Favorites!</h2>
      <%= link_to("Log in here", new_user_session_path,  class: "btn btn-blank") %>
    </div>
  </div>

</div>
