<div class="row">
  <div class="col-xs-12">
    <div class="memos-box">
      <div id="message-block">
        <div class="memo-creation-date">
          <%= note.created_at.strftime('%a, %d %b %Y -%l:%M %p') %>
        </div>
        <br class="show-only-in-pdf">
        <div class="light-font">
            <%= note.message.html_safe %>
        </div>
        <br class="show-only-in-pdf">
        <br class="show-only-in-pdf">
      </div>
    </div>
  </div>
</div>
