<% if current_user %>
  <% if current_user.favorites.empty? %>
    <%= render 'components/favorites_empty_signed_in' %>
  <% else %>
    <div id="progress-wrapper">
      <%= render 'components/visited_progress', favorites: current_user.favorites.count, visited: current_user.favorites.where(visited: true).count %>
    </div>
    <% current_user.favorites.each do |favorite| %>
      <%= render 'components/exhibitor_favorite_list', exhibitor: favorite.exhibitor %>
    <% end %>
  <% end %>
<% else %>
  <%= render 'components/favorites_not_signed_in' %>
<% end %>
