<% progress = visited * 100 / favorites %>
  <% if visited == favorites %>
    <p>Great! You have visited all exhibitors!</p>
  <% else %>
    <p><%= visited %> / <%= favorites %> visited</p>
  <% end %>
  <div class="progress-background">
    <div class="progress-green" style="width: <%= progress %>%"></div>
  </div>
