<% if favorites < 1 %>
<% progress = 0 %>
<% else %>
<% progress = visited * 100 / favorites %>
<% end %>
<% if visited == favorites && progress != 0 %>
  <p>Great! You have visited all exhibitors!</p>
<% else %>
  <p><%= visited %> / <%= favorites %> visited</p>
<% end %>
<div class="progress-background">
  <div class="progress-green" style="width: <%= progress %>%"></div>
</div>
