// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #17B890;

$white: white;
$gray: #000000;
$primary-dark: #160C28;
$light-gray: #F4F4F4;
$gray-inactive: #C9C9C9;
