html, body {
  height: 100%;
}

.page {
  height: 100%;
  padding-bottom: 50px;
}

.no-show {
  display: none;
}

.blocks {
  padding: 40px 40px 0px 40px;
}

.exhibitor-user-page{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70%;
}

.exhibitor-picutres {
  height: 50%;
}

.exhibitor-notes {
  height: 50%;
}

.add-button-container {
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.square:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.pic-display {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding-left: -15px;
  border-radius: 4px;
}

.small-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.icon-add {
  background-size: auto !important;
  border: 2px solid #979797;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.47);
  border-radius: 4px;
  text-align: center;
}


.empty-box {
  display: flex;
  text-align: center;
  justify-content: center;
  opacity: 0.21;
  height: 66vh;
  width: 100%;
  div{
    text-align: inherit;
  }
}
