#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    // cursor: pointer; /* Add a pointer on hover */
}

#overlay-box{
    position: absolute;
    top: 53%;
    left: 50%;
    background: white;
    height: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 5px;
    // -ms-transform: translate(-50%,-50%);
    form {
      width: 100%;
    }
}

#note_content {
  border: black;
  border-style: solid;
}

#note_message {
  height: 14em;
  max-height: 14em;
  overflow: auto;
}

#btn-close {
  position: absolute;
  top: 29%;
  right: 9%;
  font-size: 30px;
  color: primary-gray;
  z-index: 2;
}

#btn-note {
  width: 100%;
}

#trix-toolbar-1 {
  width: 10px;
}

.trix-button--icon-strike {
  display: none;
}

.trix-button--icon-quote {
  display: none;
}

.trix-button--icon-code {
  display: none;
}

.trix-button--icon-decrease-nesting-level {
  display: none;
}

.trix-button--icon-increase-nesting-level {
  display: none;
}

.trix-button--icon-heading-1 {
  display: none;
}
