#note_content {
  border: black;
  border-style: solid;
}

.trix-button--icon-strike {
  display: none;
}

.trix-button--icon-quote {
  display: none;
}

.trix-button--icon-code {
  display: none;
}

.trix-button--icon-decrease-nesting-level {
  display: none;
}

.trix-button--icon-increase-nesting-level {
  display: none;
}

.trix-button--icon-heading-1 {
  display: none;
}

