.member-pic {
  width: 120px;
  height: 120px;
  border-radius: 3%;
  position: relative;
}

.name-line {
  width: 100px;
  margin-bottom: 5px;
}

.flex-inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  h3 {
    margin: 0 0 10px;
  }
}

.first-pic-row-about {
  margin-bottom: 15px;
}

.md-margin-top {
  margin-top: 30px;
}

.max-width-wrapper-about {
  max-width: 600px;
  margin: 0 auto;
}

.left-align {
  text-align: left;
  //margin-left: 20px;
}

.right-align {
  text-align: right;
  //margin-right: 20px;
}

.flex-wrapper-about {
  display: flex;
  flex-direction: column;
  a.dt-link {
    color: $brand-green;
    &:hover {
      color: $primary-dark;
    }
  }
  a.mobile-link {
    color: white;
  }

}

.overall-flex {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.mobile-link {
  display: none;
  height: 19px;
}

.explanatory-text-about {
  margin: 50px 20px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 540px) {
  .right-align {
    display: none;
  }
  .left-align {
    display: none;
  }
  .mobile-link {
    display: block;
    position: absolute;
  }
  #marton {
    bottom: 12px;
    right: 5px;
  }
  #sophie {
    bottom: 12px;
    right: 5px;
  }
  #wiebke {
    bottom: 12px;
    right: 5px;
  }
  #paul {
    bottom: 12px;
    right: 5px;
  }
}


