<div class="exhibitor-notes">
  <h2>My Notes :</h2>

  <div class="text-field">
    <%= form_with(model: note, url: [@exhibitor, note]) do |form| %>
      <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>
    <% end %>
  </div>

  <%= note.content %>
</div>
