<div class="exhibitor-notes">
  <h2>My Notes :</h2>

    <%#= simple_form_for([@exhibitor, note]) do |f| %>
      <%#= f.input :message, as: :hidden %>
      <!-- <trix-editor input="note_message"></trix-editor> -->
      <%#= f.submit %>
    <%# end %>

<input id="display-overlay"
       type="button"
       value="ADspaly">

<div id="overlay" class="no-show">
  <div id="btn-close"><i class="fas fa-times"></i></div>
  <div id="overlay-box">
    <%= form_with(model: note, url: [@exhibitor, note]) do |form| %>
      <div class="field">
        <%= form.rich_text_area :message, placeholder: 'Add a note...' %>
        <%= form.submit 'Create note', id: 'btn-note'%>
      </div>
    <% end %>
  </div>
</div>
  <%= note.message %>
<%#= raise %>

</div>

