<div class="exhibitor-notes">
  <h2>My Notes :</h2>

<input id="display-overlay"
       type="button"
       value="ADspaly">

<!-- The overlay -->
  <div id="overlay" class="no-show">
    <div id="btn-close"><i class="fas fa-times"></i></div>
    <div id="overlay-box">
      <%= form_with(model: note, url: [@exhibitor, note], remote: true) do |form| %>
        <div class="field">
          <%= form.rich_text_area :message %>
          <%= form.submit 'Create note', id: 'btn-note'%>
        </div>
      <% end %>
    </div>
  </div>

<!-- The notes block -->
<div id="memo-block">
  <% @notes.each do |note|%>
    <%= render 'components/memo', note: note%>
  <% end %>
</div>

</div>

