<%= render 'components/expo_banner', expo: @expo %>
<%= render 'components/expo-tabs' %>
<div class="other-page-content">

  <div class="exhibitor-item-render exhibitor-list">
    <% @expo.exhibitors.each do |exhibitor| %>
      <%= render 'components/exhibitor_list_item', exhibitor: exhibitor %>
    <% end %>
    </div>

  <div class="exhibitor-item-render favorite-list toggle-visibility">
    <% current_user.favorites.each do |favorite| %>
      <%= render 'components/exhibitor_favorite_list', exhibitor: favorite.exhibitor %>
    <% end %>
  </div>
</div>




