<div class="page">

  <%= render 'components/exhibitor_banner', exhibitor: @exhibitor %>

  <p class="blocks"><%=  @exhibitor.location %></p>
  <p class="blocks"><%= @exhibitor.description %></p>

  <%= render 'components/exhibitor_tabs' %>

</div>
