body {
  background-color: $white;
  h1, h2 {
    font-family: "Nunito", "Helvetica", "sans-serif";
    font-weight: 700;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  h3, p {
    font-family: "Roboto", "Helvetica", "sans-serif";
  }

  h3 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  .icon-shadow {
    text-shadow: 0px 0px 2px #333333;
  }

  .light-paragraph {
    font-weight: 300;
  }

  .bold-header {
    font-weight: 700;
  }

  // to be removed after demo on projector
  .bold-btn-border {
    border: solid 2px $primary-dark;
  }
}

.md-margin-top-bottom {
  margin: 20px 0 30px;
}

.max-width-wrapper {
  max-width: 500px;
  margin: 0 auto;
}



