body {
  h1, h2 {
    font-family: "Nunito", "Helvetica", "sans-serif";
  }
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 70px;
  }
  p {
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 28px;
  }
}
