body {
  background-color: $white;
  h1, h2 {
    font-family: "Nunito", "Helvetica", "sans-serif";
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
  }
  h2 {
    font-size: 22px;
  }
  h3, p {
    font-family: "Roboto", "Helvetica", "sans-serif";
  }

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .icon-shadow {
  text-shadow: 0px 0px 4px #111111;
  }
}


