<h1>This is our great landing page</h1>
<p>apart from this, we will NOT make the design especially nice for desktop</p>
<p>instead the very up-to-date-motto is: MOBILE FIRST!</p>
<%= render 'components/expo-tabs' %>
