<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 20 }'>


<div class="grid">
  <div class="grid-item grid-item--width1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ut? Nihil nulla quae voluptates eum fugiat illo odio neque cumque pariatur totam nobis, nesciunt asperiores facilis eveniet voluptate qui commodi, iusto architecto consectetur. Quod, odit voluptatibus unde libero reiciendis delectus.</div>
  <div class="grid-item grid-item--width2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ipsa autem corporis quo culpa saepe omnis commodi voluptate, est illo nostrum! Nesciunt quis, </div>
  <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dicta ut explicabo dignissimos deserunt ea deleniti officia, doloremque earum sit veniam vero dolore illo aliquid amet excepturi error veritatis possimus architecto sint expedita laborum. Nam quasi, deleniti</div>
  ...
</div>
