.expo-header {
  height: 230px;
  background-size: cover !important;
  position: relative;
  color: $primary-dark;
  // position: sticky;
  // top: 0;
  // z-index: 2;
}

.exhibitor-header-white-box {
  background: white;
  color: $primary-dark;
  width: auto;
  display: inline-block;
  padding: 3px 11px;
  position: absolute;
  bottom: 25px;
  left: 35px;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
    font-weight: 300;
  }
}

.other-page-content {
  z-index: 0;
}

.exhibitor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  h1 {
    width: 100%;
    color: white;
  }
}

.icon-square {
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-color: white;
  width: 85px;
  height: 85px;
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.4);
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%, -45%);
}

.exhibitor-container h1 {
  position: absolute;
  bottom: 2%; left: 50%;
  transform: translate(-50%, -2%);
}
