.card {
  height: 25vh;
  width: 100%;
  margin: 1vh 0;
  background-size: cover !important;
  background-position: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #888888;
  position: relative;
}

.card-content {
  position: absolute;
  bottom: 9px;
  left: 11px;
}
.card-text{
  background-color: white;
  padding: 3px 5px;
  display: inline-block;;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 13px;
    // to be removed after demo on projector
    font-size: 17px;

  }
}

.block-display-card {
  display: block;
}

.card-link {
  color: $primary-dark;
  &:hover {
    color: inherit;
  }
}

.bookmark-container a {
  padding: 45px;
  min-width: 45px;
  padding-right: 0px;
}

.bookmark-card {
  position: absolute;
  top: 11px;
  right: 14px;
}

.bm-card-size {
  font-size: 24px;
  color: white;
  // width: 30px;
}

.small-margin-top {
  margin-top: 5px;
}

.card-container {
  margin: 0 8vw;
}

// EMAIL CARD

#email-card{
  border: $gray-inactive;
  border-width: 1.5px;
  border-style: dashed;
  box-shadow: 0px 0px 2px 0px #888888;
  display: flex;
}

.card-email-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p{
    color: $gray-inactive;
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
  }
}
#coorporate-email{
  color: $primary-dark;
}
