.card {
  height: 25vh;
  width: 100%;
  margin: 1vh 0;
  background-size: cover !important;
  background-position: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #888888;
  position: relative;
}

.card-content {
  position: absolute;
  bottom: 17px;
  left: 11px;
}
.card-text{
  background-color: white;
  padding: 3px 5px;
  display: inline-block;;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.card-link {
  color: $primary-dark;
  &:hover {
    color: #73F7D4;
  }
}

.bookmark-card {
  position: absolute;
  top: 11px;
  right: 7px;
}

.bm-card-size {
  width: 30px;
}

.small-margin-top {
  margin-top: 10px;
}

.card-container {
  margin: 0 8vw;
}

