.expo-tabs {
  color: #696969;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 4;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.21);
  a{
    width: 50%;
    height: 100%;
    margin: 0;
    color: inherit;
    &:hover{
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.exhibitor-tabs {
  color: $gray-inactive;
  border-top: solid 0.5px #EEEEEE;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  background-color: white;
  cursor: pointer;
  i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    color: inherit;
    &:hover{
      text-decoration: none;
    }
  }
}


#bottom {
  position: fixed;
  bottom: 0;
  overflow: hidden;
}

.left {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px  rgba(0,0,0,0.12);
}

.right {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px  rgba(0,0,0,0.12);
}

.tab-title {
 p{
  margin: 0;
}
}

.toggle-border {
  opacity: 1;
  color: $primary-dark;
  box-shadow: 0 2px  rgba(0,0,0,0.8);
}

.exhibitor-select {
  color: $primary-dark;
}

.favorite-star {
  font-size: 90%;
  margin-right: 10px;
}

.exhibitor-mag-glass {
  font-size: 90%;
  margin-right: 10px;
}

.container-custom {
  margin: 0 30vw !important;
}
