#sign_in_button {
  align-items: center;
  margin: 0 auto;
  a{
    margin-top: 20px;
    color: black;
    &:hover{
      color: white;
      background-color: $primary-dark;
    }
  }
}


.no-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  p{
    margin: 0;
  }
}

.destination-tab-div {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  p{
    margin: 0;
  }
}

.favorites_tab_error {
  display: flex;
  text-align: center;
  justify-content: center;
  opacity: 0.21;
  height: 66vh;
  width: 80%;
  div{
    text-align: inherit;
  }
}
