.flash-message-box {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: #50E3C2;
  .flash-message {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  p {
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
  }
  i{
    margin: 0px;
    padding-right: 15px;
  }
}
