.navbar {
  height: 7vh;
  padding-top: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#empty-div {
  flex-grow: 1;
}

.navbar-icons {
  padding: 16px;
  display: flex;
  justify-content: space-around;

  i {
    padding: 5px;
    font-size: 28px;
  }
}


