.wrapper {
    display: block;
}

#sidebar {
    margin-left: -250px;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    /* top layer */
    z-index: 9999;
    transition: 0.8s ease;
}

.inline-block-element-heading {
  display: inline-block;
}

#pen-color {
  p {
    font-size: 14px;
    display: inline-block;
  }
}

.relative-container {
  position: relative;
  height: 100vh;
}

.nav-content-flex {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: "Roboto", "Helvetica", "sans-serif";
  color: $primary-dark;
  h2 {
    font-family: "Nunito", "Helvetica", "sans-serif";
  }
  i {
    font-size: 18px;
    padding: 0;
  }
  h3 {
    margin-bottom: 0;
    margin-top: 11px;
  }
  a {
    color: $primary-dark;
    &:hover {
      text-decoration: none;

    }
  }
  li {
    font-weight: 300;
  }
  ul.collapse {
    margin-left: 10px;
  }
}

#sidebar.active {
    margin-left: 0px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#blue-burger {
  color: $primary-dark;
}


.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 200vw;
    height: 150vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: 1s ease-in-out;
    // to make the little part on top also be caught by the overlay
    margin-top: -44vh;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#log-out-div {
  margin-top: 200px;
  margin-left: 20px;
  position: absolute;
  bottom: 10px;
  i {
    font-size: 18px;
    padding: 0;
  }
  h3 {
    margin-bottom: 0;
    margin-top: 11px;
  }
  a {
    color: $primary-dark;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    font-weight: 300;
  }
}


.info-sidebar {
  font-weight: 300;
  margin-top: 30px;
  margin-right: 20px;
}

.btn-blank {
  display: inline;
  width: 55%;
  border-radius: 4px;
  border: solid 1px $primary-dark;
  &:hover {
    color: $white;
    background-color: $primary-dark;
  }
}

#dismiss, #sidebarCollapse {
    display: inline-block;
    cursor: pointer;
}

#dismiss {
    padding: 16px;
      i {
      padding: 5px;
    }
}

.sidebar-icon-blue {
  i {
    color: $primary-dark;

  }
}

.shadowless {
  text-shadow: 0px 0px 0px !important;
}
