.progress-background {
  background-color: rgba(23, 184, 144, 0.2);
  width: 100%;
  //border: 1px solid $gray-inactive;
  margin-bottom: 10px;
}

.progress-green {
  background-color: $green;
  height: 7px;
}#progress-wrapper {
  text-align: left;
  font-size: 20px;
  padding: 15px 0px 0px;
  margin-top: 15px;
  width: 85%;
  p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
