.progress-background {
  background-color: white;
  height: 7px;
  width: 100%;
  border: 1px solid $gray-inactive;
  margin-bottom: 15px;
}

.progress-green {
  background-color: $green;
  height: 7px;
}

.progress-box {
  text-align: left;
  font-size: 20px;
  padding: 15px 0px;
  margin-top: 15px;
  width: 85%;

}
