body {
  h1, h2 {
    font-family: "Nunito", "Helvetica", "sans-serif";
    font-weight: 800;
  }
  h1 {
    font-size: 300px;
    margin-bottom: 0;
    padding-bottom: 0;

  }
  h2 {
    font-size: 200px;
    margin-top: 0;
    padding-top: 0;
    font-weight: 300;
  }
  h3, p {
    font-family: "Roboto", "Helvetica", "sans-serif";
  }

  h3 {
    font-size: 150px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }
  p {
    font-size: 150px;
    margin-top: 0;
    padding-top: 50px;
  }

}

.flex-pic-container {
  display: flex;
  flex-direction: row;
}

div {
  display: inline !important;
}

img {
  width: 32%;
  margin: 30px;
}

// .memos-box {
//   background-color: #F4F4F4;
//   margin-top: 0.3em;
//   margin-bottom: 0.3em;
//   padding: 0.9em;
//   border-radius: 5px;
//   overflow-wrap: break-word;
// }

#message-block {
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-size: 150px;
  //background-color: #F4F4F4;
    margin-top: 100px;
    margin-bottom: 100px;
  //padding: 0.9em;
  //border-radius: 5px;
}

.memo-creation-date {
  font-weight: 700;
}


