function toggleBookmark() {
  html = '<%= j render "components/bookmark", expo: @expo %>'
  const bookmark_container = document.getElementById('<%="expo_#{@expo.id}"%>');
  bookmark_container.innerHTML = html
  if ('<%= @flash_message %>' !== 'false') {
    $('.flash-message').fadeIn(400);
    $('.flash-message').html('<p>You bookmarked <%= @flash_message %>, find it in your <i class="fas fa-bars shadowless" id="blue-burger"></i> Sidebar!</p>');
    $('.flash-message').delay(1700).fadeOut(500);
  }
}

toggleBookmark()
