<div class="">
  <%= render 'components/expo_index_navbar' %>
</div>
<div class="card-container">
  <div class="row">
    <% @expos.each do |expo| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= render 'components/card', expo: expo %>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <%= render 'components/contact_card'%>
    </div>
  </div>
</div>
<div class="flash-message-box">
  <div class="flash-message">
  </div>
</div>

<button id= 'modal-button-desktop-info' class='hidden' data-toggle=modal data-target=#infoModal>
</button>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="hidden">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>This project is designed <strong>'mobile first'</strong>. To optimize your experience, resize your browser window or open the page with your phone. Thanks!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blank confirm-button" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
