<div class="">
  <%= render 'components/expo_index_navbar' %>
</div>
<div class="card-container">
  <div class="row">
    <% @expos.each do |expo| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= render 'components/card', expo: expo %>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <%= render 'components/contact_card'%>
    </div>
  </div>
</div>
<div class="flash-message-box">
  <div class="flash-message">
  </div>
</div>
